html{font-size:large}
    body{background-color: rgb(0,0,0);color:rgb(255,255,255)}

    table,tr,td,th,caption{
border: 1px solid; color: #ffffff;
font-family: 'Courier New', Courier, monospace;
border-collapse: collapse;
padding: 0.5rem;
    }


