html{font-size:large}
    body{background-color: rgb(255,255,255);color:rgb(0,0,0)}

    table,tr,td,th,caption{
border: 1px solid; color: #000000;
font-family:'Asimovian',sans-serif san;
border-collapse: collapse;
padding: 0.5rem;}

p,h1,h2,h3,h4,h5,h6,summary,details,a,figcaption {text-align: center;}

table{margin-right: auto;margin-left:auto ;}

ul{list-style-type:none ;}

img{margin: auto;;display: block;}

body {
      font-family: 'Asimovian', sans-serif;
    }







